@model MessageBoardApp.Models.CommentList

@{
    ViewBag.Title = "List";
}

<h2>Index</h2>

<p>
   <a href= "/Comment/Create/@Model.ThreadId">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Comments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id=item.commentId })
        </td>
    </tr>
}

</table>
